/* Em src/styles/global.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.custom-date-input::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

/* Estilo "Folha de Diário" Minimalista */
.journal-paper {
    @apply bg-[#F7F4EB] text-gray-800 font-serif leading-7 p-6 rounded-lg;
}